<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="../js/view/pages/cards/index.js"></script>
    <link rel="stylesheet" href="/styles/cards/components/cards.css">
    <link rel="stylesheet" href="/styles/theme.css">
    <link rel="stylesheet" href="/styles/utils.css">
    <script type="text/javascript" src="https://livejs.com/live.js"></script> <!-- live server -->
    <title>Cards</title>
</head>
<body>
    <header class="header container">
        <home-button></home-button>
        <p>Cards</p>
    </header>
    <main>
        <section class="cards container">
            <cards-switcher></cards-switcher>
        </section>
    </main>
</body>

</html>