:root {
    --background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    --background-first-color: #74ebd5;
    --background-second-color: #9face6;
    --foreground-color: white;
}

body {
    background-image: var(--background-image);
    background-repeat: no-repeat;
}