/* xs */
/* @media (min-width: 475px) {} 

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .section {
        margin-top: 10rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}


html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: var(--clr-primary-bg);
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
    line-height: calc(1em + 0.5rem);
}

main {
    flex: 1;
    overflow: auto;
}

.header {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--clr-header);
    font-family: 'Courier New', monospace;
    padding-top: 0.5rem;
}